In [11]:
import mysql.connector as sql
import pandas as pd
import settings as s

In [15]:
connection = sql.connect(
    host=s.DATABASE_HOSTNAME,
    user=s.ACTIVE_USERNAME,
    password=s.ACTIVE_USER_PWD,
    database=s.ACTIVE_DATABASE
)

select_query = "SELECT * FROM Kaggle.s5e7 WHERE FileCategory = 'train'"
df_train = pd.read_sql(select_query, con=connection)
connection.close()

df_train = df_train.drop('FileCategory', axis=1)
df_train.head(10)

C:\Users\bouwe\AppData\Local\Temp\ipykernel_20504\1957430714.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_train = pd.read_sql(select_query, con=connection)

,id,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,0,0.0,No,6.0,4.0,No,15.0,5.0,Extrovert
1,1,1.0,No,7.0,3.0,No,10.0,8.0,Extrovert
2,2,6.0,Yes,1.0,0.0,None,3.0,0.0,Introvert
3,3,3.0,No,7.0,3.0,No,11.0,5.0,Extrovert
4,4,1.0,No,4.0,4.0,No,13.0,NaN,Extrovert
5,5,2.0,No,8.0,5.0,No,NaN,3.0,Extrovert
6,6,1.0,No,8.0,NaN,No,NaN,4.0,Extrovert
7,7,2.0,No,8.0,3.0,No,4.0,5.0,Extrovert
8,8,4.0,Yes,2.0,1.0,None,0.0,2.0,Introvert
9,9,1.0,No,8.0,6.0,No,14.0,9.0,Extrovert